DB_CLIENT: "pg"
DB_HOST: "database"
DB_PORT: "5432"
DB_DATABASE: "directus"
DB_USER: "directus"
DB_PASSWORD: "directus"

ADMIN_EMAIL: "roger.lalouttre@nani.fr"
ADMIN_PASSWORD: "rogersuperlouttre"

KEY: "thesuperkey"
SECRET: "thesupersecret"
